<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Lage token og forvalte tilgang</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Lage token og forvalte tilgang</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/7aea2620-1b43-4902-8b40-8628853bde94.png" alt="Lage token og forvalte tilgang" usemap="#7aea2620-1b43-4902-8b40-8628853bde94map">
			<map name="7aea2620-1b43-4902-8b40-8628853bde94map">
						<area shape="rect" coords="581,126,788,181" href="../elements/3f1f5762-8242-4c8f-8386-0a101cb0d35d.html"  target="element">
						<area shape="rect" coords="418,126,538,181" href="../elements/0cee0f7e-cdd9-49a7-b705-a7b14341d428.html"  target="element">
						<area shape="rect" coords="485,570,605,625" href="../elements/1baf50f5-3c10-44d9-9e7f-d12451d7ad74.html"  target="element">
						<area shape="rect" coords="742,586,862,641" href="../elements/9baec3f9-15fe-40ab-a351-4798f305dd38.html"  target="element">
								<area shape="rect" coords="286,262,406,317" href="../elements/eea8b352-67bd-4a67-8d61-72c3ff470a48.html"  target="element">
								<area shape="rect" coords="118,262,238,317" href="../elements/46234c2c-b7a9-405f-8085-5a3b2f29d94a.html"  target="element">
								<area shape="rect" coords="200,382,341,437" href="../elements/3284249b-639d-49b4-98a2-2644d9e11a6b.html"  target="element">
								<area shape="rect" coords="322,476,442,531" href="../elements/684ad904-8247-4449-846d-d421624d03e0.html"  target="element">
								<area shape="rect" coords="96,476,216,531" href="../elements/bca67e12-4404-4554-9ddc-eff2da8b16f3.html"  target="element">

						<area shape="rect" coords="70,226,505,552" href="../elements/b73a1fb1-8234-4573-99d1-4c3c91311937.html"  target="element">
								<area shape="rect" coords="658,384,811,439" href="../elements/6c910ee0-c7eb-4fbe-bde4-52bdec9bb8ef.html"  target="element">
								<area shape="rect" coords="732,265,852,320" href="../elements/eba7148e-aa05-4f5e-96b3-5df2f82a950d.html"  target="element">
								<area shape="rect" coords="586,262,706,317" href="../elements/b68e72ca-f4cb-4eb9-9433-5f1595115020.html"  target="element">
								<area shape="rect" coords="675,478,795,533" href="../elements/2f1f4f87-6097-4344-b54f-703620c9905e.html"  target="element">

						<area shape="rect" coords="562,226,902,551" href="../elements/4f333e41-ffd2-4961-bdd0-19f1c59d02ae.html"  target="element">
								<area shape="rect" coords="262,748,382,803" href="../elements/b20b11ef-a3c9-421b-ae5f-6b55564cde7a.html"  target="element">
								<area shape="rect" coords="82,742,202,797" href="../elements/2e76b3b4-fcbb-4572-8b63-62d3b161e271.html"  target="element">
								<area shape="rect" coords="262,622,382,677" href="../elements/b6624438-7fff-4ef9-af12-55b0c2205911.html"  target="element">

						<area shape="rect" coords="70,586,410,809" href="../elements/80927bae-3088-4475-8f07-dec1c8804026.html"  target="element">
								<area shape="rect" coords="178,142,298,197" href="../elements/34d8ec20-594f-4740-ab59-d02cffad4fa4.html"  target="element">
								<area shape="rect" coords="22,142,142,197" href="../elements/0ca49556-888f-4a6a-8b17-6e073c2845cf.html"  target="element">

						<area shape="rect" coords="10,106,322,202" href="../elements/b1386c0d-120b-4c58-a47a-654943681cf0.html"  target="element">
						<area shape="rect" coords="625,10,745,65" href="../elements/fb9c3e75-0494-4fc9-b6bf-d9e29db473a7.html"  target="element">
						<area shape="rect" coords="430,14,550,69" href="../elements/7ad98210-90e8-48ee-be6e-5c17fa73cb69.html"  target="element">
								<area shape="rect" coords="902,130,1022,185" href="../elements/f5396927-3eef-413c-b721-e8da4dac3633.html"  target="element">

						<area shape="rect" coords="854,82,1066,201" href="../elements/be240d29-82ff-4a75-b44f-7d3055919c6a.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/3f1f5762-8242-4c8f-8386-0a101cb0d35d.html" target="element"> Delegeringskonfigurator </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/0cee0f7e-cdd9-49a7-b705-a7b14341d428.html" target="element"> Autentisering og token-generering </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/1baf50f5-3c10-44d9-9e7f-d12451d7ad74.html" target="element"> Konsument </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										<tr><td> <a href="../elements/9baec3f9-15fe-40ab-a351-4798f305dd38.html" target="element"> Leverand&#248;r </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										<tr><td> <a href="../elements/b73a1fb1-8234-4573-99d1-4c3c91311937.html" target="element"> Grovkornet tilgang </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/eea8b352-67bd-4a67-8d61-72c3ff470a48.html" target="element"> Lese tilgang </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/46234c2c-b7a9-405f-8085-5a3b2f29d94a.html" target="element"> Endre tilgang </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/3284249b-639d-49b4-98a2-2644d9e11a6b.html" target="element"> Grovkornet tilgangsmatrise </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/684ad904-8247-4449-846d-d421624d03e0.html" target="element"> Grovkornet tilgang </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/bca67e12-4404-4554-9ddc-eff2da8b16f3.html" target="element"> OAuth2-scope </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/4f333e41-ffd2-4961-bdd0-19f1c59d02ae.html" target="element"> Delegering </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/6c910ee0-c7eb-4fbe-bde4-52bdec9bb8ef.html" target="element"> Delegeringsmatrise </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/eba7148e-aa05-4f5e-96b3-5df2f82a950d.html" target="element"> Endre delegering </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/b68e72ca-f4cb-4eb9-9433-5f1595115020.html" target="element"> Lese delegering </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/2f1f4f87-6097-4344-b54f-703620c9905e.html" target="element"> Delegering </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/80927bae-3088-4475-8f07-dec1c8804026.html" target="element"> API-katalog </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/b20b11ef-a3c9-421b-ae5f-6b55564cde7a.html" target="element"> Implementert API </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/2e76b3b4-fcbb-4572-8b63-62d3b161e271.html" target="element"> API-spesifikasjon </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/b6624438-7fff-4ef9-af12-55b0c2205911.html" target="element"> API-tilbyder </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/b1386c0d-120b-4c58-a47a-654943681cf0.html" target="element"> API-tilbyder sitt konfigurasjonssystem </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/34d8ec20-594f-4740-ab59-d02cffad4fa4.html" target="element"> Speiling av tilgang </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/0ca49556-888f-4a6a-8b17-6e073c2845cf.html" target="element"> Finkornet tilgang </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/fb9c3e75-0494-4fc9-b6bf-d9e29db473a7.html" target="element"> GUI for forvaltning av delegering </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/7ad98210-90e8-48ee-be6e-5c17fa73cb69.html" target="element"> Token-tjeneste </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/be240d29-82ff-4a75-b44f-7d3055919c6a.html" target="element"> Leverand&#248;r sitt konfigurasjonssystem </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/f5396927-3eef-413c-b721-e8da4dac3633.html" target="element"> Konfigurere delegering </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>