<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Plassering av tilgangsmatrise</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Plassering av tilgangsmatrise</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/960b522e-aa2d-4508-99ab-89ef71d8066d.png" alt="Plassering av tilgangsmatrise" usemap="#960b522e-aa2d-4508-99ab-89ef71d8066dmap">
			<map name="960b522e-aa2d-4508-99ab-89ef71d8066dmap">
						<area shape="rect" coords="286,137,406,192" href="../elements/791bc794-8e45-43a2-b3ce-8bbccb908b28.html"  target="element">
						<area shape="rect" coords="70,136,190,191" href="../elements/82e524c5-8d21-456d-8654-83e221f38262.html"  target="element">
						<area shape="rect" coords="477,137,597,192" href="../elements/d94bcde7-8f2b-4414-826f-9705a7b849a1.html"  target="element">
						<area shape="rect" coords="70,226,190,281" href="../elements/f4611914-5371-47e2-bbc9-44fa7c32ff29.html"  target="element">
						<area shape="rect" coords="477,232,597,287" href="../elements/8146c722-b506-440c-a1fd-e3f6be7e172b.html"  target="element">
						<area shape="rect" coords="283,226,403,281" href="../elements/4c4863a3-2549-4f32-a94f-ac0c30b6e88e.html"  target="element">
						<area shape="rect" coords="10,10,130,65" href="../elements/539cc376-c59a-40de-87a6-ff883ca6aef0.html"  target="element">
						<area shape="rect" coords="154,10,274,65" href="../elements/50ed981f-007d-4f87-8639-7ecf8c412f89.html"  target="element">
						<area shape="rect" coords="477,10,597,65" href="../elements/e6239684-164f-4c14-883c-b14b28f607f9.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/791bc794-8e45-43a2-b3ce-8bbccb908b28.html" target="element"> Tjeneste/API </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/82e524c5-8d21-456d-8654-83e221f38262.html" target="element"> Klient </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/d94bcde7-8f2b-4414-826f-9705a7b849a1.html" target="element"> Ressursserver </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/f4611914-5371-47e2-bbc9-44fa7c32ff29.html" target="element"> Altinn </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/8146c722-b506-440c-a1fd-e3f6be7e172b.html" target="element"> id-porten/maskinporten </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/4c4863a3-2549-4f32-a94f-ac0c30b6e88e.html" target="element"> Autentisere/Utstede token </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/539cc376-c59a-40de-87a6-ff883ca6aef0.html" target="element"> Konsumentens driftsleverand&#248;r (L) </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/50ed981f-007d-4f87-8639-7ecf8c412f89.html" target="element"> Konsument (C) </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/e6239684-164f-4c14-883c-b14b28f607f9.html" target="element"> API-tilbyder (A) </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>